@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

/* Define color variables */
:root {
	--wr_dark_blue: rgb(57, 125, 255);
	--wr_blue: rgb(148, 179, 255);
	--wr_light_blue: rgb(198, 212, 255);
	--wr_light_blue_plus: rgb(246, 249, 255);
	--wr_light_gray: rgb(191, 199, 214);
	--wr_gray: rgb(85, 94, 110);
	--wr_dark_gray: rgb(54, 60, 71);
	--wr_darker_gray: rgb(32, 38, 48);
	--wr_dark_gray_plus: rgb(3, 10, 23);
	--wr_tomato: rgb(255, 103, 70);
	--wr_green_tea: rgb(132, 178, 0);

	--wr_text: var(--wr_darker_gray);
	--wr_background: white;
	--wr_header: var(--wr_blue);
	--wr_autofill_background: var(--wr_blue);
	--wr_panel: var(--wr_light_blue);

	--wr_primary: var(--wr_dark_blue);
}

/* Override some colors for dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--wr_text: var(--wr_light_blue_plus);
		--wr_background: #121212;
		--wr_header: var(--wr_darker_gray);
		--wr_autofill_background: var(--wr_dark_gray);
		--wr_panel: var(--wr_darker_gray);
	}
}

/* Set font and other global properties */
* {
	font-family: 'Exo 2', Arial, sans-serif;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* Set selection behaviour */
*::selection {
	color: var(--wr_light_blue_plus);
	background-color: var(--wr_dark_blue);
}

html {
	box-sizing: border-box;
}

body {
	color: var(--wr_text);
	background-color: var(--wr_background);
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

body > * {
	padding: 0 5vw;
}

header, footer {
	background-color: var(--wr_header);
	display: block;
	flex: 0 0 auto;
}

main {
	flex: 1 0 auto;
}

a {
	color: var(--wr_primary);
}

a:focus {
	color: var(--wr_tomato);
}

/* Set input style */
div.input {
	position: relative;
}

div.input > span.error {
	margin: 0.4em;
}

input {
	display: block;
	background: transparent;
	padding: 0.4em;
	border: none;
	border-bottom: 0.15em solid var(--wr_text);
	border-radius: 0;
	color: var(--wr_text);
	font-size: 1em;
	min-width: 30vw;
	width: 100%;
	max-width: 70vw;
	transition: 0.3s;
}

input::placeholder {
	user-select: none;
}

input:focus {
	border-bottom-color: var(--wr_primary);
	outline: none;
}

input + label {
	background: transparent;
	pointer-events: none;
	user-select: none;
	position: absolute;
	top: 0.4em;
	left: 0.4em;
	transition: 0.3s;
}

input:focus + label {
	top: -1.4em;
	font-weight: bold;
	font-size: 0.85em;
	color: var(--wr_primary);
}

input:not(:focus):valid:not(:placeholder-shown) {
	border-bottom-color: var(--wr_green_tea);
}

input:not(:focus):valid:not(:placeholder-shown) + label {
	top: -1.4em;
	font-weight: bold;
	font-size: 0.85em;
	color: var(--wr_green_tea);
}

input:not(:focus):invalid:not(:placeholder-shown) {
	border-bottom-color: var(--wr_tomato);
}

input:not(:focus):invalid:not(:placeholder-shown) + label {
	top: -1.4em;
	font-weight: bold;
	font-size: 0.85em;
	color: var(--wr_tomato);
}

/* Set button style */
button {
	cursor: pointer;
	user-select: none;
	font-weight: bold;
	color: var(--wr_text);
	background-color: transparent;
	border: 0.15em solid var(--wr_primary);
	border-radius: 0;
	padding: 0.75em 1em;
	transition: 0.3s;
}

button:hover, button:focus {
	color: var(--wr_background);
	background-color: var(--wr_primary);
	outline: none;
}

button:disabled {
	cursor: default;
}

button:disabled:hover {
	color: var(--wr_text);
	background-color: transparent;
}

button.no_style {
	border: none;
}

/* Set style for button-like links */
a.button {
	display: block;
	text-decoration: none;
	font-weight: bold;
	font-size: medium;
	border-radius: 0;
	border: none;
	color: var(--wr_text);
	background-color: transparent;
	padding: 0.75em 1em;
	transition: 0.3s;
	cursor: pointer;
	user-select: none;
}

a.button:hover, a.button:focus {
	background-color: var(--wr_primary);
	outline: none;
}

/* Set design of dropdown menu */
ul.menu {
	display: block;
	position: relative;
}

ul.dropdown {
	display: none;
	position: absolute;
	right: 0;
	z-index: 1;
}

ul.dropdown * {
	display: block;
	min-width: 100%;
	width: max-content;
	text-decoration: none;
}

ul.dropdown a {
	background-color: var(--wr_header);
	color: var(--wr_text);
	padding: 0.75em 1em;
	transition: 0.3s;
}

ul.dropdown a:hover {
	background-color: var(--wr_primary);
}

ul.dropdown a:focus {
	background-color: var(--wr_primary);
	outline: none;
}

ul.menu > li:hover > ul.dropdown {
	display: block;
}

ul.menu > li:focus-within > ul.dropdown {
	display: block;
}

/* Additional attributes */
.center_vertically_parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.center_parent {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.no_style {
	padding: 0;
	list-style: none;
}

.panel {
	background: var(--wr_panel);
	border: none;
	border-radius: 0.5em;
}

.panel.input_form {
	margin: 2em;
}

.text_center {
	text-align: center;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.error {
	color: var(--wr_tomato) !important;
}

.good {
	color: var(--wr_green_tea) !important;
}

.vertical_scroll {
	overflow-x: hidden;
	overflow-y: auto;
}

.horizontal_scroll {
	overflow-x: auto;
	overflow-y: hidden;
}

.large_font {
	font-size: large;
}

.medium_font {
	font-size: medium;
}

.margin_05 {
	margin: 0.5em;
}

.margin_05_vert {
	margin: 0.5em 0;
}

.margin_0 {
	margin: 0;
}

.margin_1_right {
	margin-right: 1em;
}

/* Set scrollbar behaviour for webkit browsers */
::-webkit-scrollbar-track {
	background-color: var(--wr_dark_gray_plus);
}

::-webkit-scrollbar-thumb {
	background-color: var(--wr_dark_gray);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--wr_dark_blue);
}

::-webkit-scrollbar {
	width: 0.8em;
	height: 0.8em;
}

/* Set autofill style for webkit browsers */
:-webkit-autofill {
	caret-color: var(--wr_text);
	-webkit-text-fill-color: var(--wr_text);
	-webkit-box-shadow: 0 0 0 2em var(--wr_autofill_background) inset;
	transition: 0s;
}

:-webkit-autofill::selection {
	-webkit-text-fill-color: var(--wr_light_blue_plus);
	background-color: var(--wr_dark_blue);
}

input:-webkit-autofill:not(:focus):not(:placeholder-shown) {
	border-bottom-color: var(--wr_text);
}

input:-webkit-autofill:not(:focus):not(:placeholder-shown) + label {
	top: -1.4em;
	font-weight: bold;
	font-size: 0.85em;
	color: var(--wr_text);
}
